input {
    width: 90%;
    margin-left: 20px;
    margin-right: 2px;
    border-color: black;
}

label {
    margin-left: 50px;
}
h4{
    margin-left: 600px;
}

form {
    padding: 0px;
    margin-left: 150px;
    margin-top: 40px;
    width: 40%;
    border-style: inset;
    
    border-color:black;
   
    align-content: center;
}
form:hover {
    color:black;
    background-color: transparent;
    transform:scale(1.2);
    align-items: center;
}

button {
    margin-left: 80px;
    color: wheat;
    background-color: black;
 
}
button:hover{
    color:black;
    background-color: black;
}

span {
    width: 60%;
    margin-left: 100px;
}